<!DOCTYPE html>
<html lang="en">
        <head>
            <link rel="icon" href="/static/favicon.png">
            <style>
            .center-img {
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
            .center-tbl {
              margin-left: auto;
              margin-right: auto;
            }

            </style>
            <title>Donkey</title>
        </head>
        <body>
            <h1 style="text-align:center">Donkey master</h1>
            <p style="text-align:center">Donkey is ready to rumble!
            Check out the <a href="/docs/">api docs</a>.</p><br>

            <p></p>
            <img class="center-img" src="/static/donkey.png" , alt="donkey">
            <h2 style="text-align:center">Cluster configuration</h2>
            <table class="center-tbl">
                                    <tr>
                        <th>Active configuration</th>
                    </tr>
                {% for key, value in cluster_config.items() %}

                <tr>
                            <td>{{key}}</td>
                            <td>{{value}}</td>
                        </tr>
                {% endfor %}
            </table>
            <h2 style="text-align:center">Registered Workers State</h2>
            <table class="center-tbl">
                {% for worker in workers %}
                    <tr>
                        <th>{{worker}}</th>
                    </tr>

                    <tr>
                        <td>State</td>
                        <td style="color: forestgreen">Active</td>
                    </tr>

                    <tr>
                        <td>Last Heartbeat</td>
                        <td style="color: forestgreen">{{now}}</td>
                    </tr>

                    <tr>
                        <td>Files</td>
                        <td>
                            {% for file, blocks in files[worker].items()%}
                                <span>{{file}}:</span>  <br/>
                                {% for block in blocks%}
                                        <span>{{block}}</span>  <br/>
                                {% endfor %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Available Functions</td>
                        <td>
                            {% for job in jobs %}
                                <span>{{job}}</span><br/>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}

            </table>
        </body>
</html>